.Rproj.user
.Rhistory
.Rdata
.httr-oauth
*.DS_Store
.quarto
/Meta/
src/stan/**
!src/stan/**/*.*
src/stan/**/*.exe
src/stan/**/*.EXE
*.o
*.so
*.gcda
*.gcno
src/stan/.DS_Store
vignettes/Calibration_cache
vignettes/Introduction_cache
inst/doc
docs/
doc/
/doc/
